<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" [[lang:xml]] [[lang:html]]>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=[[charset]]" />
	<title>[[weblogtitle]] - [[weblogsubtitle]]</title>
	<link href="[[template_dir]]pivot_essentials.css" rel="stylesheet" type="text/css" />
	<link href="[[template_dir]]pivot_default.css" rel="stylesheet" type="text/css" />
	[[ thickbox:head ]]
</head>

<body>
	<div id="content">
		<div id="header">
			
			<h1 class="pagetitleshade pagetitleleft">
				<a href="[[home]]" accesskey="1">[[weblogtitle]]</a>
			</h1>

			<h1 class="pagetitle pagetitleleft">
				<a href="[[home]]">[[weblogtitle]]</a>
			</h1>
			
		</div>

		<div id="linkdump2">
			
			<h3>[[label:linkdump]]</h3>
			[[subweblog:linkdump]]
			
		</div>

		<div id="entries2">
			
			[[subweblog:standard]]
			
		</div>

		<div style="clear:both">
			&nbsp;
		</div>
		
	</div>

	<div id="secondary2">
		
		<div class="block">
			
			<h3 class="about">[[label:about]]</h3>
			<p>This is the archive page for [[weblogtitle]]. Click to 
				go to the <a href="[[home]]">frontpage</a> of this site.
			</p>
			
		</div>

		<div class="block">

			<h3>[[label:archives]]</h3>
			[[archive_list]]

			<h3>[[label:last_comments]]</h3>
			[[last_comments]]

		</div>

		<div class="block">

			<h3>[[label:links]]</h3>
			[[link_list]]

		</div>

		<div class="block">

			<h3>[[label:search]]</h3>
			[[search::search]]

			<h3>[[label:stuff]]</h3>
			[[pivotbutton]]<br />
			[[rssbutton]]<br />
			[[atombutton]]

		</div>

		<div style="clear:both">
			&nbsp;
		</div>

	</div>
	<br />
</body>
</html>
